@model IEnumerable<BreakAwayMVCWebApp.Models.Lodging>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LodgingName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Owner)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsResort)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LodgingDestination)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LodgingName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Owner)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsResort)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LodgingDestination.DestinationId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.LodgingId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.LodgingId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.LodgingId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
